.footer{
	background-color: $footer-background-color;
	color: #FFF9FE;
	width: 100%;

	.container{
		padding-top: 20px;
		padding-bottom: 10px;
	}

	.footer-left{
		&__links{
			text-decoration: none;
			color: $footer-links-color;
			border-right: 1px solid #648069;
			padding-right: 10px;
			padding-left: 10px;
			font-family: $body-font;
				}

		a:last-child{
			border-right: 0;
			}
		}

	.about-author{
		// no need to use float, could use text-align: right, or d-flex justify-content-end classes
		float: right;
		font-family: $body-font;
		
		/**
		* no need to add font-family all the time, e.g.
		* html, body {
		*	font-family: $body-font;
		* }
		*/

	}

}/*footer*/
