$heading-font: 'Oxygen', sans-serif;
$body-font: 'Source Sans Pro', sans-serif;
$navbar-color: #1F87E6;
$logo-background: #0A6AC1;
$text-color: #12110F;
$sub-heading-color: #1884F3;
$button-color: #1F87E6;
$footer-background-color: #0E1720;
$footer-links-color: #8AB3C9;
$white: #FFF9FE;
